body {
  font-family: "Roboto Condesed" sans-serif;
}

nav a.nav-link {
  /* font-weight: 500; */
  /* letter-spacing: 0.6px; */
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  font-size: 0.8rem;
  margin-right: 12px;
  margin-left: 12px;
  color: white !important;
  border-top: 3px solid rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

.navbar-brand {
  max-width: 17.5rem;
  padding: 0 !important;
  /* height: 6rem; */
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus,
.navbar-nav > li > a:hover {
  border-top: 3px solid #f9ab00;
}
